#conteudo-left{
    width:270px;
    height:500px;
    position:static;
    float:right;
    background-color:#FFF;
}

#conteudo{
    width:545px;
    height:500px;
    position:relative;
    float:left;
    background-color:#ff1;  
    display: initial;
    margin: auto;

}